zfitConsumer/zfitConsumer/Web References/zfitService/zfitService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.zfit.co.za/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.zfit.co.za/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.zfit.co.za/">
      <s:element name="zfitUserCall">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aXmlCredentials" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aXmlArgument" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="zfitUserCallResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zfitUserCallResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="zfitFanCall">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="aXmlCredentials" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aXmlArgument" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="zfitFanCallResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="zfitFanCallResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="zfitUserCallSoapIn">
    <wsdl:part name="parameters" element="tns:zfitUserCall" />
  </wsdl:message>
  <wsdl:message name="zfitUserCallSoapOut">
    <wsdl:part name="parameters" element="tns:zfitUserCallResponse" />
  </wsdl:message>
  <wsdl:message name="zfitFanCallSoapIn">
    <wsdl:part name="parameters" element="tns:zfitFanCall" />
  </wsdl:message>
  <wsdl:message name="zfitFanCallSoapOut">
    <wsdl:part name="parameters" element="tns:zfitFanCallResponse" />
  </wsdl:message>
  <wsdl:portType name="zfitWebMethodsSoap">
    <wsdl:operation name="zfitUserCall">
      <wsdl:input message="tns:zfitUserCallSoapIn" />
      <wsdl:output message="tns:zfitUserCallSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="zfitFanCall">
      <wsdl:input message="tns:zfitFanCallSoapIn" />
      <wsdl:output message="tns:zfitFanCallSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="zfitWebMethodsSoap" type="tns:zfitWebMethodsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="zfitUserCall">
      <soap:operation soapAction="http://www.zfit.co.za/zfitUserCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="zfitFanCall">
      <soap:operation soapAction="http://www.zfit.co.za/zfitFanCall" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="zfitWebMethodsSoap12" type="tns:zfitWebMethodsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="zfitUserCall">
      <soap12:operation soapAction="http://www.zfit.co.za/zfitUserCall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="zfitFanCall">
      <soap12:operation soapAction="http://www.zfit.co.za/zfitFanCall" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="zfitWebMethods">
    <wsdl:port name="zfitWebMethodsSoap" binding="tns:zfitWebMethodsSoap">
      <soap:address location="http://localhost/zfitsoap/zfitService.asmx" />
    </wsdl:port>
    <wsdl:port name="zfitWebMethodsSoap12" binding="tns:zfitWebMethodsSoap12">
      <soap12:address location="http://localhost/zfitsoap/zfitService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>